<HTML>
<HEAD>
<TITLE> MONGO DB </TITLE>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</HEAD>
<BODY>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://www.mongodb.com/">MongoDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Öğrenci Listesi <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ekle">Kayıt Ekle</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ADI</th>
      <th scope="col">SOYAD</th>
      <th scope="col">SINIF</th>
      <th scope="col">NUMARA</th>
      <th scope="col">EYLEM</th>
    </tr>
  </thead>
  <tbody>
    <% var sayac = 0; %>
    <% ogrenciListesi.forEach((ogrenciler)=>{ %>
    <tr>
      <% sayac++; %>
      <th scope="row"><%= sayac %></th>
      <td><%= ogrenciler.adi %></td>
      <td><%= ogrenciler.soyadi %></td>
      <td><%= ogrenciler.sinifi %></td>
      <td><%= ogrenciler.numarasi %></td>
      <td><form action="/<%= ogrenciler.id %>?_method=DELETE" method="POST" style="display: inline;"><button class="btn btn-danger">Sil</button></form><a href="/duzenle/<%= ogrenciler.id %>"" class="btn btn-warning" style="margin-left: 10px;">Düzenle</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>
</div>
</BODY>
</HTML>